.similar-movie-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 200px;
    justify-content: space-evenly;
    cursor: pointer;
    h2 {
        max-height: 100px;
        display: block;     
        font-family: 'Roboto-Regular';
        font-size: 16px; 
    }
    img {
        margin-top: 2px;
        border: 10px solid rgba(102, 102, 102, 0.76);
    }
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}