#movies-list-app {
    height: 100%;
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    
    .menu {
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        
        button {
            text-decoration: none;
            text-align: center;
            padding: 7px 25px;
            border: solid 3px #948806;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            font: 12px Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: #780707;
            background: #e8a617;
            outline: none;
            cursor: pointer;
        }
    }
    .back-to-top {
        position: fixed;        
        bottom: 2%;
        left: 1%;
        z-index: 9999;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: rgba(0,0,0, 0.4);
        color: white;
        cursor: pointer;
        border-radius: 2px;
        display: none;
        &:hover {
            background: #e9ebec;
            color: black;
          }
          
         &.show {
            display: block;
          }
    }
}
