.detailed {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 7, 7);
    color: white;
    border: 1px solid gainsboro;
    position: relative;
    z-index: 5;
    width: 1100px;  
    height: 900px;
    top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    &::-webkit-scrollbar {
        width: 0;    
    }
}
