.detailed {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid gainsboro;
    position: relative;
    width: 1100px;
    height: 900px;
    top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    &::-webkit-scrollbar {
        width: 0;
    }
}
